td, th {
	width: 90px;
	height: 90px;
	border: 1px solid #57485A;
  }

th {
	font-family: 'Bebas Neue', arial, serif;
	font-size: 30px;
	font-weight: 400;
 	font-style: normal;
	color: #FFFFFF;
	background-color:#6C2626;
	width: 50px;
	height: 20px;
}

td {
	width: 50px;
	height: 50px;
}
	
	
td strong {
	font-family: 'Merriweather', arial, serif;
	font-size: 30px;
	font-weight: 400;
	font-style: normal;
	background-color: #F0E3F3;
}
	
tr {
	background-color: #E1E1E1;
	text-align: center;
}

td img {
	width: 100px;
	height: 80px;
	object-fit: cover
}
	

#planets {
	background-color: #ECECEC;
}

h1 {
	font-family: 'Bebas Neue', arial, serif;
  	font-weight: 400;
	font-size: 50px;
 	font-style: normal;
	color: #7F1E4B;
}
	
