td, th {
	border: 1px solid #57485A;
  }
  
th {
	font-family: Merriweather, arial, serif;
	font-size: 100%;
	font-weight: bold;
	background-color: #F0E3F3;
}

tr {
	
}

.planets {
	background-color: #ECECEC;
}
