td, th {
	width: 50px;
	height: 70px;
	border: 1px solid #57485A;
  }

th {
	font-family: 'Bebas Neue', arial, serif;
  	font-weight: 400;
 	font-style: normal;
	color: #FFFFFF;
	background-color:#6C2626;  
	
td strong {
	font-family: 'Merriweather', arial, serif;
	font-weight: 400;
	font-style: normal;
	background-color: #F0E3F3;
	width: 30px;
	height: 50px;
}
	
tr {
	background-color: #E1E1E1;
	text-align: center;
}

td img {
	width: 100px;
	height: 100px;
}
	

#planets {
	background-color: #ECECEC;
}


